###  Dictionary

Create Dictionary for following information as "person1":
   - Name = Srikanth
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Hyderabad

In [4]:
person1 = {'Name': 'Srikanth',
           'Gender': 'Male',
           'Occupation': 'Data Scientist',
            'Location': 'Hyderabad'}

In [5]:
person1

{'Name': 'Srikanth',
 'Gender': 'Male',
 'Occupation': 'Data Scientist',
 'Location': 'Hyderabad'}

> print keys in person1 as a list

In [6]:
dict_keys = ['Name','Gender','Occupation','Location']
print (dict_keys)

['Name', 'Gender', 'Occupation', 'Location']

> Srikanth age is 30. Update his age in person1 as key "Age"

In [7]:
person1.update({'Age':30})

In [8]:
person1

{'Name': 'Srikanth',
 'Gender': 'Male',
 'Occupation': 'Data Scientist',
 'Location': 'Hyderabad',
 'Age': 30}

> Remove Location in person1

In [9]:
del person1 ['Location']

In [10]:
person1

{'Name': 'Srikanth',
 'Gender': 'Male',
 'Occupation': 'Data Scientist',
 'Age': 30}

> Create dictionary of person2 with
- Name  = Sara
- Gender = Female
- Age  = 25
- Occupation = Analyst

In [11]:
# CODE HERE
person2 = {'Name':'Sara',
           'Gender':'Female',
           'Age':25,
           'Occupation':'Analyst'}

In [12]:
person2

{'Name': 'Sara', 'Gender': 'Female', 'Age': 25, 'Occupation': 'Analyst'}

> Append values on Person1 and Person2

In [13]:
print('='*20,'person1','='*20)
print(person1)
print('='*20,'person2','='*20)
print(person2)

==================== person1 ====================
{'Name': 'Srikanth', 'Gender': 'Male', 'Occupation': 'Data Scientist', 'Age': 30}
==================== person2 ====================
{'Name': 'Sara', 'Gender': 'Female', 'Age': 25, 'Occupation': 'Analyst'}

In [23]:
person = {"Name":[],"Gender":[],"Occupation":[],"Age":[]}

for i in person:
    if i == "Name":
        person[i].append(person1[i])
        person[i].append(person2[i])
    elif i =="Gender":
        person[i].append(person1[i])
        person[i].append(person2[i])
    elif i == "Occupation":
        person[i].append(person1[i])
        person[i].append(person2[i])
    elif i == "Age":
        person[i].append(person1[i])
        person[i].append(person2[i])

person

{'Name': ['Srikanth', 'Sara'],
 'Gender': ['Male', 'Female'],
 'Occupation': ['Data Scientist', 'Analyst'],
 'Age': [30, 25]}

In [21]:
import pandas as pd
pd.DataFrame(person)

       Name  Gender      Occupation  Age
0  Srikanth    Male  Data Scientist   30
1      Sara  Female         Analyst   25

---
srikanth dakoju